.content{
    padding-left: 5%;
    padding-top: 5%;
}

#logo-background {
    background-color: mediumseagreen;
    color: white;
}

.navbar-bg {
    background-color: mediumseagreen !important;
}

.nav-image {
    height: 40px;
    width: 35px;
}

.heading-statistics {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 10px;
}

.form-statistics {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 10px;
}

.form-sidebar {
    background-color: mediumseagreen;
    padding-top: 6vh;
    padding-bottom: 60vh;
    text-align: left;
    color: white;
}

#logo {
    padding: 5px;
}

.logo-image {
    height: 50px;
    text-align: left;
    margin-top: 7px;
}

#logo-text {
    font-size: 48px;
    text-align: right;
}
