.content{
    padding-left: 5%;
    margin-top: 40px;
    text-align: center;
}

#logo-background {
    background-color: #15400e;
    color: white;
}

.navbar-bg {
    background-color: #15400e !important;
    font-weight: 600;
}

.nav-link{
    color: rgba(255,255,255,.7) !important;
}

.nav-link:hover{
    color: rgba(255,255,255,.9) !important;
}

.nav-image {
    height: 40px;
    width: 35px;
}

.heading-statistics {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 10px;
}

.form-statistics {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 10px;
}

.form-sidebar {
    margin-top: 40px;
    text-align: center;
}

#logo {
    padding: 5px;
}

.logo-image {
    height: 50px;
    text-align: left;
    margin-top: 7px;
}

#logo-text {
    font-size: 48px;
    text-align: right;
}

#button-save{
    color: white;
    background-color: #15400e !important;
}

#button-check{
    color: white;
    background-color: #15400e !important;
}
.button-admin{
    color: white;
    background-color: #15400e !important;
    border-color: #15400e !important;
}

.menu-form{
    text-align: center;
}

.counter{
    margin-top: 5%;
    color: darkgrey;
    text-align: center;
}


.form-group input[type='text'] {
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.errorImage{
    max-height: 50vmax !important;
    margin-bottom: 2vmax;
}